<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Patients</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <nav class="navbar bg-body-secondary mb-4">
      <div class="container-fluid">
        <a href="{{ url_for('index') }}" class="navbar-brand">
            Hospital<i class="fa-solid fa-hospital fa-sm mx-2"></i>
        </a>
        <form class="" role="search">
          <a href="doctor.html" class="btn btn-success me-5">Doctors</a>
          <a href="patient.html" class="btn btn-success me-5">Patients</a>
          <a href="patienthistory.html" class="btn btn-success me-5">Patient History</a>
          <a href="doctor_schedule.html" class="btn btn-success me-5">Doctor Schedule</a>
          <a href="appointment.html" class="btn btn-success me-5">Appointments</a>
          <a href="diagnose.html" class="btn btn-success me-5">Diagnoses</a>
        </form>
      </div>
    </nav>

    <div class="fs-5">
      <i class="fas fa-user-injured" style="font-size: 50px;"></i>
      <i class="fas fa-user-injured" style="font-size: 50px;"></i>
      <i class="fas fa-user-injured" style="font-size: 50px;"></i>
    </div>
    <!-- Flash message display -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="alert-container d-flex justify-content-center">
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show text-center" role="alert" style="max-width: 500px; width: 100%;">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
<!-- ############################################################# 3 buttons ############################################################################################################################### -->

<!-- #############################################################ADD Patient ########################################################################################################################################### -->

    <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-primary mx-4" data-bs-toggle="modal" data-bs-target="#addModal" data-bs-whatever="@mdo">Add Patient</button>
        <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Patient</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <!-- form body of add -->
              <div class="modal-body">
                <form id="patient_form" action="/add_patient" method="post">
                  <div class="mb-3">
                    <label for="selc-table">Entries</label>
                  </div>
                  <div class="input-group mb-3">
                    <!-- email input -->
                    <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon2">Email</span>
                      <input type="email" id="Patient_email" name="Patient_email" class="form-control me-2" placeholder="Patient Email" aria-label="Email" aria-describedby="basic-addon2" required>
                    </div>
                    <!-- Password Input -->
                    <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon3">Password</span>
                      <input type="password" id="patient_password" name="patient_password" class="form-control me-2" placeholder="Password" aria-label="Password" aria-describedby="basic-addon3" required>
                    </div>
                    <!-- patient name -->
                    <div>
                      <span class="input-group-text" id="basic-addon1">Name</span>
                      <input type="text" id="patient_name" name="patient_name" class="form-control" placeholder="Enter Patient Name" aria-label="Username" aria-describedby="basic-addon1" required>
                    </div>
                    <!-- patient gender -->
                    <div>
                      <span class="input-group-text" id="basic-addon1">Gender</span>
                      <input type="text" id="patient_gender" name="patient_gender" class="form-control me-2" placeholder="Patient Gender" aria-label="Username" aria-describedby="basic-addon1" required>
                    </div>
                    <!-- patient address -->
                     <div>
                      <span class="input-group-text" id="basic-addon1">Address</Address></span>
                      <input type="text" id="patient_address" name="patient_address" class="form-control me-2" placeholder="Patient Address" aria-label="Username" aria-describedby="basic-addon1" required>
                    </div>
                  </div>
                  <!-- add button -->
                  <button type="submit" class="btn btn-primary" form="patient_form">ADD</button>
                </form>
              </div>
              <!-- close button -->
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
<!-- ###################################################################delete patient############################################################################################################## -->
      <button class="btn btn-danger mx-4" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal" data-bs-whatever="@mdo">Delete Patient</button>
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Patient</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <!-- form body of delete -->
              <div class="modal-body">
                <form id="delete_form" action="/delete_patient" method="post">
                  <div class="mb-3">
                    <label for="selc-table">Patient To Be Deleted</label>
                  </div>
                  <!-- email input -->
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Patient Email</span>
                    <input type="text" id="Patient_id" name="Patient_id" class="form-control me-2" placeholder="Enter Patient Email" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                  <!-- delete button -->
                  <button type="submit" class="btn btn-primary" form="delete_form">DELETE</button>
                </form>
              </div>
              <!-- close button -->
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
<!-- #############################################################################################search patient#################################################################################### -->
      <button class="btn btn-warning mx-4" type="button" data-bs-toggle="modal" data-bs-target="#searchModal" data-bs-whatever="@mdo">Search Patient</button>
        <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <!-- header name -->
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Search Patient</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <!-- form body of search -->
              <div class="modal-body">
                <form id="search_form" action="/search_patient" method="get">
                  <!-- lable -->
                  <div class="mb-3">
                    <label for="selc-table">Search By Name</label>
                  </div>
                  <!-- search input -->
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Name</span>
                    <input type="text" id="patient_name" name="patient_name" class="form-control me-2" placeholder="Patient Name" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                  <!-- submit button -->
                  <button type="submit" class="btn btn-primary" form="search_form">Search</button>
                </form>
              </div>
              <!-- close button -->
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
<!-- #################################################################################################################################################################################################################################################################### -->
    <div id="home" class="grid_container">
      <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item ">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              Patients
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
            <div class="accordion-body">
              <table class="table table-responsive table-bordered table-hover table-dark">
                <thead>
                  <tr>
                    <th scope="col">Patient Email</th>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Gender</th>
                  </tr>
                </thead>
                <tbody id="patient_table">
                  {% for patient in patients %}
                  <tr>
<!--                      index = index in sql-->
                      <td>{{ patient[0] }}</td>
                      <td>{{ patient[2] }}</td>
                      <td>{{ patient[3] }}</td>
                      <td>{{ patient[4] }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='../static/js/bootstrap.bundle.min.js') }}"></script>
  </body>
</html>
